.vscode/**
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
.eslintignore
.eslintrc.yaml
yarn.lock
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
test_rules.txt
client/node_modules/**
server/node_modules/**