# Ignore everything from the .vsix package
*
*/**

# Except these files:
!CHANGELOG.md
!LICENSE.md
!README.md
!client/out/**/*.js
!client/package.json
!icons/*
!language-configuration.json
!package.json
!server/out/**/*.js
!server/package.json
!syntaxes/out/adblock.plist
